{% extends 'base.html.twig' %}

{% block title %}Travel index{% endblock %}

{% block body %}
    <h1>Travel index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Country</th>
                <th>Climate</th>
                <th>City</th>
                <th>Season</th>
                <th>Price</th>
                <th>Picture</th>
                <th>Picturetwo</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for travel in travels %}
            <tr>
                <td>{{ travel.id }}</td>
                <td>{{ travel.country }}</td>
                <td>{{ travel.climate }}</td>
                <td>{{ travel.city }}</td>
                <td>{{ travel.season }}</td>
                <td>{{ travel.price }}</td>
                <td>{{ travel.picture }}</td>
                <td>{{ travel.picturetwo }}</td>
                <td>
                    <a href="{{ path('travel_show', {'id': travel.id}) }}">show</a>
                    <a href="{{ path('travel_edit', {'id': travel.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('travel_new') }}">Create new</a>
{% endblock %}
